.events-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.events-title{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
    padding: 20px;
}

.events-subtitle{
    font-size: 28px;
    font-weight: bold;
    // text-transform: uppercase;
    margin: 10px 0;
    padding-bottom: 0;
    color: #030303;
    // padding: 20px;
}
.container{
    height: auto;
    width: 90%;
    // padding: 50px;
    // background-color: aqua;
}

.events-container{
    display: flex;
    flex-wrap: wrap;
}

.events-card{
    height: auto;
    width: 300px;
    // background-color: aquamarine;
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    // backdrop-filter: blur(5px);
//     background: #22c1c3;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #ffdd76, #87ed33);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #ffdd76, #87ed33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.event-image-container{
    height: 200px;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 5px solid rgb(147, 147, 147);
}

.events-bottom-container{
    display: flex;
    // align-items: center;
    // vertical-align: middle;
    // align-content: center;
    // height: 10vh;
    width: 100%;
    height: auto;
    padding: 5px 5px;
    /* From https://css.glass */

border: 1px solid rgba(255, 255, 255, 0.3);
    // background-color: antiquewhite;
}

.date-container{
    text-transform: uppercase;
    // border-bottom: 5px solid #87ed33;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    margin-right: 5px;
}

  
.day-underline{
    width: inherit;
    height: 3px;
    background-color: #87ed33;
}
.title-container{
    // height: 10vh;
    // width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
}