.events-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.events-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
    padding: 20px;
}

.events-subtitle {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    padding-bottom: 0;
    color: #030303;
}

.container {
    height: auto;
    width: 90%;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
}

.events-card {
    height: auto;
    width: 300px;
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(black, .45);
}

.event-image-container {
    height: 200px;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}

.events-bottom-container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.date-container {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    margin-right: 5px;
}


.day-underline {
    width: inherit;
    height: 3px;
    background-color: #7af813;
}

.title-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
}

.know-text {
    font-size: 0.8rem;
    font-weight: bold;
    color: #124265;
    padding: 5px 0;
    text-align: left;
}

.no-upcoming-event-card{
    display: flex;
    align-items: center;
}

.lottie-container{
    width: 600px;
    height: 400px;
    padding: 0;
    // background-color: #124265;
}

.lottie-bottom-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.custom-carousel .carousel .slider-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    // height: 400px;
    // object-fit: contain;
  }
  
//   .custom-carousel .carousel .slider .slide {
//     background: none !important;
//     padding: 0 !important;
//     margin: 0 !important;
//     background-color: aquamarine;
//   }
  
//   .custom-carousel .carousel .control-arrow {
//     background: none !important;
//     padding: 0 !important;
//     margin: 0 !important;
//     background-color: antiquewhite;
//   }
  
//   .custom-carousel .carousel .control-dots .dot {
//     background: none !important;
//     padding: 0 !important;
//     margin: 0 !important;
//   }
  
.carousel-image {
    width: 100%;
    height: 300px;
    object-fit: fill;
  }
  
  
@media (max-width: 768px){
    .events-list {
        margin-top: 15vh;
    }
    .no-upcoming-event-card{
        display: flex;
        flex-direction: column;
    }
    .lottie-container{
        width: auto;
        height: auto;
    }
    .custom-carousel .carousel .slider-wrapper {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
        height: auto;
      }
      .carousel-image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    
}