.navbar-container{
    height: auto;
    width: 100%;
}

.nav-link-text{
    color: aliceblue;
}

.nav-link-text:hover{
    color: rgb(0, 0, 0);
}
.nav-menu-full{
    height: auto;
    padding: 20px 0;
}
.brochure-button{
    font-size: 22px;
    // background-color: aqua;
    margin: auto 0 auto 0;
    // font-weight: 100;
    cursor: pointer;
}

.nav-menu{
    width: 90vw;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 8px 16px rgba(black, .45);
}

.hamburger-icon{
    position: absolute;
    right: 10px;
    top: 20px;
}

.tnp-logo{
    height: 50px;
    width: 50px;
    background-color: aqua;
}

@media (max-width: 1023px) {
    .navbar-container{
        height: auto;
        position: fixed;
        top: 0;
        z-index: 999;
    }
}