.testimonials{
  height: auto;
  padding: 50px;
  // margin: 20px 0;
  width: 100%;
  // background-color: chartreuse;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c9e3f5;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}


.testimonials .testimonial-item p {
  font-style: italic;
  // margin: 0 15px 15px 15px;
  padding: 20px;
  background: #f3f9fd;
  // background-color: #2487ce;
  width: 100%;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #f3f9fd;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 20px);
}



.slick-dots li button:before {
  font-size: 14px; /* Adjust size */
  color: black; /* Adjust color */
  opacity: 1;
  margin-top: -10px;
}

@media only screen and (max-width: 400px) {
  .slick-dots li button::before {
    font-size: 8px; /* Adjust size */
    color: black; /* Adjust color */
    opacity: 1;
    margin-top: 20px;
}
}

.slick-dots li.slick-active button:before {
  color: #2487ce; /* Adjust active color */
}

.section-title{
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 798px) {
  .testimonials{
    padding: 50px 0;

  }
}